{% extends 'base.html.twig' %}

{% block title %}Edit Questionnaire{% endblock %}

{% block body %}
    <h1>Modification questionnaire</h1>

    {{ include('questionnaire/_form.html.twig', {'button_label': 'Valider'}) }}


    {{ include('questionnaire/_delete_form.html.twig') }}
{% endblock %}
